body{
    background-color:whitesmoke;
    font-family: Georgia, "Times New Romans", serif;

}
.name-header{
   text-align: center;
}

.cite{
    text-align: right;
}

.social-media{
    text-align: center;
}

.social-media ul{
    width: 70%;
    margin: 0 auto;
}
/* social media icons horizontal and added hover transition */
.social-media li{
    font-size: 50px;
    display: inline-block;
    margin: 0 15px;
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;

}
/* added shadow and hover effects*/
.social-media li:hover{
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.33);
    -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.33);
}

.fontawesome{
    text-align: center;
    font-size: 50px;
}

.fa-html5{
    color: #ef6026;
}
.fa-swift{
    color: #ed523f;
}
.fa-css3-alt{
    color: #1b73ba;
}


.squirrel-logo{
    text-align: center;
   
    color: white;
    margin: 25px auto;

    background: -moz-linear-gradient(top, #c163ed 0%, #93f6f9 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c163ed 0%,#93f6f9 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c163ed 0%,#93f6f9 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.squirrel-logo.md{
    border-radius: 15px;
    margin-top: 25px;
    height: 100px;
    width: 100px;
    font-size: 65px;
}
.squirrel-logo.lg{
    border-radius: 15px;
    margin-top: 125px;
    height: 275px;
    width: 275px;
    font-size: 175px;
}